* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;

}

header {
  background-color: rgb(114, 203, 206);


  h1 {
    padding: 1rem;
  }
}

main {
  h3 {
    padding: 1rem 0;
  }

  li {
    list-style: none;
  }

  hr {
    margin-top: 1rem;
  }

  line-height: 1.5rem;
  padding-left: 1rem;

  span {
    margin-left: 1rem;
    background-color: chocolate;
    padding: 0.5rem;
    color: white;
  }

}

footer {
  background-color: rgb(114, 203, 206);
  min-height: 50px;
  padding: 1rem;
  font-size: 2rem;
}